---
export interface Props {
  icon: {
    title: string;
    svg: string;
    hex: string;
    url: string;
    account?: string;
  };
}

const { icon } = Astro.props;
---

<li class="relative group">
  {/* stupid fucking workaround */}
  <a
    href={icon.url}
    class={'flex items-center justify-center w-10 h-10 transition-colors duration-150 fill-current group-hover:[color:var(--hover-color)]'}
    style={`--hover-color: ${icon.hex}`}
  >
    <Fragment set:html={icon.svg} />
  </a>

  <span
    class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2
          px-2 py-1 rounded-md text-sm text-white bg-slate-800
          opacity-0 group-hover:opacity-100 group-focus-within:opacity-100
          transition-opacity duration-150 pointer-events-none whitespace-nowrap"
  >
    {icon.title}{icon.account && ` - ${icon.account}`}
  </span>
</li>
